# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env

#Recursos 
/recursos/Audios/*
!/recursos/Audios/.gitkeep

/recursos/Videos/*
!/recursos/Videos/.gitkeep

/recursos/Lecturas/Caperucita_Roja/*
!/recursos/Lecturas/Caperucita_Roja/.gitkeep

/recursos/Lecturas/El_Niño_Estrella/*
!/recursos/Lecturas/El_Niño_Estrella/.gitkeep

/recursos/Lecturas/El_Patito_feo/*
!/recursos/Lecturas/El_Patito_feo/.gitkeep

/recursos/Lecturas/El_Soldadito_De_Plomo/*
!/recursos/Lecturas/El_Soldadito_De_Plomo/.gitkeep

/audiosTemporales/*
!/audiosTemporales/.gitkeep

/configModeloIA/*
!/configModeloIA/.gitkeep

/recursos/FotoPerfil/*
!/recursos/FotoPerfil/.gitkeep


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
