@media screen and (max-width: 600px) {

    .TitleMainEditar{
        margin-top:0;
    }
    .ContainerMainEditarP{
        background:rgba(224, 223, 253, 0.5);
        border-radius:25px;
        padding-bottom: 4%;
        margin-bottom: 45%;
        /* height:110vh; */
    }
    .imgAvatarEditarP{
        margin-left:5%;
        width: 164px !important;
        height: 164px !important;
    }
    .TextFieldEditarP{
        margin-top:2%;
        width:100%;
        border: 2px solid #ced4da !important;
    }
    .EnviarEditarFoto{
        margin-top:2%;
    }
    .BtnSimplegDemo{
        left:4%;
    }
}

@media  screen and (min-width:601px) and (max-Width:1023px) {

    .TitleMainEditar{
        margin-top:0;
    }
    .ContainerMainEditarP{
        background:rgba(224, 223, 253, 0.5);
        border-radius:25px;
        padding-bottom: 4%;
        /* height:110vh; */
    }
    .imgAvatarEditarP{
        margin-left:20%;

        width: 50% !important;
        height: 40% !important;
        /* width: 164px !important;
        height: 164px !important; */
    }
    .TextFieldEditarP{
        margin-top:2%;
        width:100%;
        border: 2px solid #ced4da !important;
    }
    .EnviarEditarFoto{
        margin-top:2%;
    }
    .BtnSimplegDemo{
        left:10%;
    }

}

@media screen and (min-width:1024px){

    .TitleMainEditar{
        margin-top:0;
    }
    .ContainerMainEditarP{
        background:rgba(224, 223, 253, 0.5);
        border-radius:25px;
        padding-bottom: 4%;
        /* height:110vh; */
    }
    .imgAvatarEditarP{
        margin-left:35%;
        width: 164px !important;
        height: 164px !important;
    }
    .TextFieldEditarP{
        margin-top:2%;
        width:100%;
        border: 2px solid #ced4da !important;
    }
    .EnviarEditarFoto{
        margin-top:2%;
    }
    .BtnSimplegDemo{
        left:28%;
    }

}

