/* Login css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
  }
  
  .logo {
    width: 150px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .create-account-btn {
    background-color: #FFC212;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .login-container {
    display: flex;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    max-width: 1100px;
  }
  
  .welcome-section {
    flex: 1;
    padding: 50px;
    color: white;
  }
  
  .welcome-img {
    width: 100%;
    margin-top: 20px;
  }
  
  .form-section {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-section h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #1f192f;
    text-decoration: none;
  }
  
  .login-btn {
    width: 100%;
    padding: 15px;
    background-color: #FFC212;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
  }
  
  .social-login-text {
    margin-top: 20px;
    color: #333;
  }
  
  .social-login-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
  
  .social-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .google {
    background-color: #EA4335;
    color: white;
  }
  
  .facebook {
    background-color: #3B5998;
    color: white;
  }
  
  .apple {
    background-color: #333;
    color: white;
  }
  