/* Login css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Estilos para el encabezado "¿Nuevo/a aquí?" */
.new-here-heading {
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

/* Estilos para el encabezado "Sign In" */
.sign-in-heading {
  color: #1F192F;
  font-size: 35px;
  margin-left: 12rem;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}


.logo {
  width: 150px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.create-account-btn {
  background-color: #FFC212;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.login-page {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("/src/images/fondo2s.png");
  background-size: cover;
  background-position: center;
}

.login-container {
  margin-top: 30px; 
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 1100px;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff !important;
  height: 100%; /* O el tamaño que quieras darle a la sección */
  padding: 10px;
}
.welcome-img {
  width: 100%;
  margin-top: 20px;
}

.form-section {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}

.form-section h2 {
  margin-bottom: 30px;
  color: #1F192F;
  font-size: 35px;
  margin-left: 12rem;
}

.login-form {
  width: 100%;
  max-width: 400px;
  margin-left: 12rem;
}

.login-form input {
  width: 24rem;
  padding: 10px;
  border: 2px solid #ccc;
  text-align: center;
  border-radius: 30px;
}

.MuiOutlinedInput-root {
  border: none; /* Quitar borde */
  background-color: transparent; /* Fondo transparente */
  box-shadow: none; /* Sin sombra */
}

.MuiOutlinedInput-notchedOutline {
  display: none; /* Eliminar la outline del borde */
}


.forgot-password-link {
  font-size: 0.875rem; /* Tamaño de fuente más pequeño */
  color: #1F192F; /* Color negro */
  /*text-decoration: none; /* Sin subrayado */
  display: inline-block;
  font-weight: 600;
  margin-left: 0.8rem;
}

.login-btn {
  width: 40%;
  padding: 10px;
  background-color: #FFC212;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin: 20px auto 0 auto; 
  display: block; 
  margin-left: 8rem;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Efecto de transición */
  
}

/* Efecto de resplandor al hacer hover */
.login-btn:hover {
  box-shadow: 0 0 15px rgba(255, 194, 18, 0.7), 0 0 25px rgba(255, 194, 18, 0.5);
  transform: scale(1.05); /* Agrandar ligeramente el botón */
}

.line-below {
  border-bottom: 1.8px solid #000000; /* Cambia el color y grosor según tu preferencia */
  width: 80%; /* O ajusta el ancho según lo que necesites */
  margin-top: 15px;
  margin-left: 3.2rem;
}

.register-button {
  width: 32%;
  padding: 10px;
  background-color: #FFC212;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 20px auto 0 auto; 
  display: block; 
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Efecto de transición */

}

.register-button:hover {
  box-shadow: 0 0 15px rgba(255, 194, 18, 0.7), 0 0 25px rgba(255, 194, 18, 0.5);
  transform: scale(1.05); /* Agrandar ligeramente el botón */
}

.social-login-text {
  margin-top: 20px;
  color: #181818;
  font-size: 15px;
  margin-left: 13rem;
  font-weight: bold;
}

<<<<<<< HEAD
.create-account-btn {
  background-color: #FFC212;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 100%; /* O el tamaño que quieras darle a la sección */
  padding: 10px;
  padding-left: 3rem; /* Ajusta este valor para mover más hacia la izquierda */
}
.register-page {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('/src/images/fondo2s.png');
  background-size: cover;
  background-position: center;
}

.register-container {
  margin-top: 30px;
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-width: 1100px;
  background: url('/src/images/fonde_registro.png') no-repeat center center; /* Mantener la imagen de fondo */
  background-size: cover;
}

.register-section {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinear al inicio para mover el formulario a la izquierda */
  justify-content: center;
}

.register-section h2 {
  margin-bottom: 30px;
  color: #1F192F;
  font-size: 35px;
}

.register-form {
  width: 100%;
  max-width: 400px;
}

.welcome-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.register-form input {
  width: 24rem;
  padding: 10px;
  border: 2px solid #ccc;
  text-align: center;
  border-radius: 30px;
}

.MuiOutlinedInput-root {
  border: none; /* Quitar borde */
  background-color: transparent; /* Fondo transparente */
  box-shadow: none; /* Sin sombra */
}

.MuiOutlinedInput-notchedOutline {
  display: none; /* Eliminar la outline del borde */
}

.register-form .input-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  margin-left: 10rem;
}

.register-form .input-group input {
  flex: 1;
  padding-left: 10px;
}

.register-form .input-group i {
  color: #1F192F;
  font-size: 1.2rem;
  margin-left: 40px;
}

.sign-up-button {
  width: 40%;
  padding: 10px;
  background-color: #FFC212;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin: 20px auto 0 auto; 
  display: block; 
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Efecto de transición */
}

/* Efecto de resplandor al hacer hover */
.sign-up-button:hover {
  box-shadow: 0 0 15px rgba(255, 194, 18, 0.7), 0 0 25px rgba(255, 194, 18, 0.5);
  transform: scale(1.05); /* Agrandar ligeramente el botón */
}

.sign-in-button {
  width: 32%;
  padding: 10px;
  background-color: #FFC212;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 20px auto 0 auto; 
  display: block; 
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Efecto de transición */

} 

.sign-in-button:hover {
  box-shadow: 0 0 15px rgba(255, 194, 18, 0.7), 0 0 25px rgba(255, 194, 18, 0.5);
  transform: scale(1.05); /* Agrandar ligeramente el botón */
}

.social-login-text {
  margin-top: 30px;
  color: #333;
  font-size: 15px;
  margin-left: 13rem;
}

=======
>>>>>>> 882deaac32b79afe80629cc7e3f5bd65e4a5b5e6
.social-login-buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 80px;
  margin-top: 20px;
  margin-left: 1.5rem;
  gap: 10px;

}

.social-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
  transition: transform 0.2s ease;
}

.social-btn:hover {
  transform: scale(1.1); /* Efecto de agrandamiento al pasar el mouse */
}


.google {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.facebook {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.apple {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
 