/* Login css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

/* Estilos para el encabezado "¿Nuevo/a aquí?" */
.new-here-heading {
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

/* Estilos para el encabezado "Sign In" */
.sign-in-heading {
  color: #1F192F;
  font-size: 35px;
  margin-left: 12rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.logo {
  width: 150px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.create-account-btn {
  background-color: #FFC212;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("/src/images/fondo2s.png");
  background-size: cover;
  background-position: center;
}

.login-container {
  margin-top: 30px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 1100px;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff !important;
  height: 100%;
  padding: 10px;
  padding-left: 3rem;
}

.welcome-img {
  width: 100%;
  margin-top: 20px;
}

.form-section {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}

.form-section h2 {
  margin-bottom: 30px;
  color: #1F192F;
  font-size: 35px;
  margin-left: 12rem;
}

.login-form {
  width: 100%;
  max-width: 400px;
  margin-left: 12rem;
}

.login-form input {
  width: 24rem;
  padding: 10px;
  border: 2px solid #ccc;
  text-align: center;
  border-radius: 30px;
}

.MuiOutlinedInput-root {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.MuiOutlinedInput-notchedOutline {
  display: none;
}

.forgot-password-link {
  font-size: 0.875rem;
  color: #1F192F;
  font-weight: 600;
  margin-left: 0.8rem;
}

.login-btn {
  width: 40%;
  padding: 10px;
  background-color: #FFC212;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin: 20px auto 0 auto;
  display: block;
  margin-left: 8rem;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.login-btn:hover {
  box-shadow: 0 0 15px rgba(255, 194, 18, 0.7), 0 0 25px rgba(255, 194, 18, 0.5);
  transform: scale(1.05);
}

.line-below {
  border-bottom: 1.8px solid #000000;
  width: 80%;
  margin-top: 15px;
  margin-left: 3.2rem;
}

.register-button {
  width: 32%;
  padding: 10px;
  background-color: #FFC212;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 20px auto 0 auto;
  display: block;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.register-button:hover {
  box-shadow: 0 0 15px rgba(255, 194, 18, 0.7), 0 0 25px rgba(255, 194, 18, 0.5);
  transform: scale(1.05);
}

.social-login-text {
  margin-top: 20px;
  color: #181818;
  font-size: 15px;
  margin-left: 13rem;
  font-weight: bold;
}

.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('/src/images/fondo2s.png');
  background-size: cover;
  background-position: center;
}

.register-container {
  margin-top: 30px;
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-width: 1100px;
  background: url('/src/images/fonde_registro.png') no-repeat center center;
  background-size: cover;
}

.register-section {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.register-section h2 {
  margin-bottom: 30px;
  color: #1F192F;
  font-size: 35px;
}

.register-form {
  width: 100%;
  max-width: 400px;
}

.register-form input {
  width: 24rem;
  padding: 10px;
  border: 2px solid #ccc;
  text-align: center;
  border-radius: 30px;
}

.register-form .input-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  margin-left: 10rem;
}

.register-form .input-group input {
  flex: 1;
  padding-left: 10px;
}

.register-form .input-group i {
  color: #1F192F;
  font-size: 1.2rem;
  margin-left: 40px;
}

.sign-up-button {
  width: 40%;
  padding: 10px;
  background-color: #FFC212;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin: 20px auto 0 auto;
  display: block;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sign-up-button:hover {
  box-shadow: 0 0 15px rgba(255, 194, 18, 0.7), 0 0 25px rgba(255, 194, 18, 0.5);
  transform: scale(1.05);
}

.sign-in-button {
  width: 32%;
  padding: 10px;
  background-color: #FFC212;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 20px auto 0 auto;
  display: block;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sign-in-button:hover {
  box-shadow: 0 0 15px rgba(255, 194, 18, 0.7), 0 0 25px rgba(255, 194, 18, 0.5);
  transform: scale(1.05);
}

.social-login-buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 80px;
  margin-top: 20px;
  margin-left: 1.5rem;
  gap: 10px;
}

.social-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
  transition: transform 0.2s ease;
}

.social-btn:hover {
  transform: scale(1.1);
}

.google, .facebook, .apple {
  color: rgb(0, 0, 0);
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 767px) {
  /* Estilos específicos para móviles */

  .login-page {
    align-items: flex-start;
    min-height: 100vh;
    background-image: url("/src/images/pruebaimg.png");

  }

  .login-container, .register-container {
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
  }

  .social-login-text{
    font-size: 16px;
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .sign-in-heading {
    font-size: 10px;
    margin-top: 160px;
    margin-left: 0;
    text-align: center;
  }

  .form-section h2 {
    font-size: 26px;
    margin-left: 0;
    text-align: center;
  }

  .login-form, .register-form {
    margin: 0;
    max-width: 90%;
    width: 100%;
  }

  .login-form input, .register-form input {
    width: 100%;
    text-align: center;
  }

  .social-login-buttons {
    justify-content: center;
    margin: 0 auto;  }

  .social-btn {
    padding: 8px 15px;
    font-size: 0.7rem;
  }

  .login-btn, .register-button, .sign-in-button, .sign-up-button {
    width: 40%;
    margin: 20px auto 0;    
  }

}