
@media screen and (max-width:600px) {
    .ContainerPageNoti{
        height: 100vh;
    }

    .GaugePorcentaje{
        width:70% !important;
        min-height: 80% !important;
        /* height:100% !important; */
        /* margin-left:15%; */
        font-size: 4.9vw;
    }

    .Contenedormain{
        /* max-height: 100vh; */
        position: relative;
        /*display:block !important;*/
       /* padding-bottom:16vw; */
        width:100%;
        height: 90vh !important;
       
        
    }
    .ContenedorNav{
        margin:0;
        width:100% !important;
        position: fixed !important; 
        
        bottom:0;
        background: white;
        z-index: 2;
    }

    .fotoPerfil{
        display: none !important;
        margin-top:2%;
        margin-left:32%;
        width: 110px !important;
        height: 110px !important;
    }
    .NomCorreoTitle {
        display: none !important;
        text-align:center;
        margin:0;
    }

    .planTitle{
        display: none;
        text-align:center;
        margin:0;
        color:blue;
    }

    .btn{
        border-radius:20px;
        cursor:pointer;
        border:none;
        display: flex;
        margin-bottom: 5%;
       
      
   }
   
   
   
   .btn:hover{
       padding: 5px;
       box-shadow: 0px 0px 5px  0px gray inset;
       
   }

    .ContenedorUser{

        position:absolute  !important;
        
        bottom:0;
        border-Radius:50px;
        width:100% !important;
        /* background: rgba(70, 70, 122, 0.05); */
        background: white;
        box-Shadow:5px 8px 2px GRAY;
        z-index: 2;
        margin:0;
   }

   .ContenedorBotonesUser{
    display: flex !important;
    justify-content: space-evenly;
    /* flex-direction: row;
    position:static; */
    top:8%;
    right:15px;
}


     /*  Apartado User_Home*/

    
     .TitleUserHome{
        background:rgba(119, 102, 198, 0.3);
        width:100%;
        border-Radius:30px;
        /* height: 20vh; */
        margin:0;
        margin-top: 5%;
}


    .TituloMain{
        
        text-Align:center;
        font-Size:5vh;
    }

    .subTituloMain{
        text-Align:center;
        font-Size:8vw;
    }

    .imgHomeUser{
        position:absolute;
        right:30px;
        top:3rem;
        width: 27%;
        min-Height:25%;
    }

    .subtema{
        box-Shadow:0px 3px 1px rgba(31, 25, 47, 0.5);
        font-Size:9vw;
    }

    .subtema2{
        text-align: center;
        font-Size:7vw;
    }

    .ContenedorProgreso{
        height:8rem !important;
        /* height:21vh; */
        width:90% !important;
        background:rgba(70, 70, 122, 0.15);
        border-Radius:25px;
        display:flex !important;
        margin-bottom: 5%;
    }

    .imgBandera{

        position:relative !important;
        left:5%;
        /* top:30px; */
        top:10%;
        width: 38%;
        height: 80%;
        /* width: 38%;
        height: 62%; */
        /* margin-top: 36%;*/
        max-width: 35%;
    }

    .subtema3{
        font-Size:6vw;
        text-align: center;
        box-Shadow:0px -3px 1px rgba(31, 25, 47, 0.5);
    }


    /* NavBAr UserDesplegada */
    .navDesple{
       

        /* position:absolute  !important; */
        padding: 0 !important;
        bottom:0;
        border-Radius:50px;
        width:100% !important;
        background: rgba(70, 70, 122, 0.05);
        
        box-Shadow:5px 8px 2px GRAY;
        margin:0;
    }

    .btnDesplegable{
   
        border-radius:20px;
        cursor:pointer;
       border:none;
       margin-bottom: 0;
       
       
      
    }
    .btnDesplegable h2{
        visibility: hidden;
        margin-bottom: 0;
    } 


    .navDespleSgund{
    display: flex !important;
    padding: 0 !important;
    flex-direction: row;
    /* position:absolute; */
    top:0;
    bottom: 0;
    right:15px;
    }

    .ConBotones{
        display: flex !important;
        justify-content:space-evenly; 
    }


    .imgIconoNavBarUserDesple{
        width:9vw !important;
    }
    .IconoNavBarUserDespleEstilo{
        width:9vw !important;
    }

    .ContNavBottom{
        background: rgba(119, 102, 198, 0.3);
        width: 100%;
        height: 4rem;
    }

}

@media screen and (min-width:601px) and (max-width:1023px){
    .ContainerPageNoti{
        height: 100vh;
    }

    .GaugePorcentaje{
        width:70% !important;
        height:100% !important;
    }

    .Contenedormain{
        display:flex !important;
        margin:0;
        width:100% !important;
        height:100vh;
    }

    .ContenedorNav{
        margin:0;
        width:30% !important;
    }

    .fotoPerfil{
        margin-top:2%;
        margin-left:32%;
        width: 36% !important;
        height: 16% !important;
        /* width: 15% !important; */
        /* height: 10% !important; */
    }

    .NomCorreoTitle {
        font-size: 1.5vw;
        text-align:center;
        margin:0;
    }

    .planTitle{
        font-size: 1.5vw;
        text-align:center;
        margin:0;
        color:blue;
    }
 
    .btn{
        border-radius:20px;
        cursor:pointer;
       border:none;
       display: flex;
       margin-bottom: 5%;
       margin-top: 60%;
       margin-left: 10%;
   }
   
   .btn:hover{
       padding: 5px;
       box-shadow: 0px 0px 5px  0px gray inset;
       
   }


   .ContenedorUser{
        
        position:relative  !important;
        top:0%;
        right:22%;
        border-Radius:50px;
        width:70px !important;
        background: rgba(70, 70, 122, 0.05);
        height:68vh;  
        box-Shadow:5px 8px 2px GRAY;
        margin:0;
   }

   .ContenedorBotonesUser{
        position:relative;
        top:8%;
        right:3px;
   }

   .titleNoti{
    margin-bottom:0;
    font-size: 2vw;
   }
   .pNoti{
    font-size: 2vw;
   }


   /*  Apartado User_Home*/

    .TitleUserHome{
        margin-top: 5% !important;
        background:rgba(119, 102, 198, 0.3);
        width:100%;
        border-Radius:50px;
        margin:0;
    }


    .TituloMain{
        
        text-Align:center;
        font-Size:4vw;
    }

    .subTituloMain{
        text-Align:center;
        font-Size:3vw;
    }

    .imgHomeUser{
        position:absolute;
        right:10px;
        top:2px;
        width: 20%;
        min-Height:25%;
    }

    .subtema{
        box-Shadow:0px 3px 1px rgba(31, 25, 47, 0.5);
        font-Size:3vw;
        margin-bottom: 3%;
    }

    .subtema2{
        font-Size:3vw;
        margin-bottom: 3%;
    }

    .ContenedorProgreso{
        margin-bottom: 3% !important;
        height:21%;
        width:40% !important;
        background:rgba(70, 70, 122, 0.15);
        border-Radius:25px;
        display:flex !important;
        padding-right: 0 !important;
    }

    .imgBandera{

        position:relative !important;
        width: 38%;
        height: 80%;
        left:5%;
        top: 10%;
        /* width: 40%; */
        /* height: 10vw; */
        /* top:20%; */
    }

    .subtema3{
        font-Size:2vw;
        box-Shadow:0px -3px 1px rgba(31, 25, 47, 0.5);
    }

    /* NavBAr UserDesplegada */
    .navDesple{
        position:relative !important;
        top:0%;
        border-Radius:50px;
        width:86% !important;
        background: rgba(70, 70, 122, 0.05);
        height:75vh; 
        box-Shadow:5px 8px 2px GRAY;
        margin:0;

    }

    .navDespleSgund{
        position:relative !important;
        top:8%;
    }

    .ConBotones{
        padding:0 !important;
    }

    
   .btnDesplegable{
   
    border-radius:20px;
    cursor:pointer;
   border:none;
   display: flex !important;
   margin-bottom: 5% !important;
   margin-top: 10%;
   margin-left: 10%;
   /* font-size: 1.5vw; */
    }

    .btnDesplegable h2{
       
        margin-bottom: 0;
    } 

    .imgIconoNavBarUserDesple{
        width:3vw !important;
    }
    .IconoNavBarUserDespleEstilo{
        width:4vw !important;
    }
    .imgIconoNavBarUser{

        width:3vw !important;

    }

}


@media  (min-width:1024px){
    .ContainerPageNoti{
        height: 100vh;
    }

    .GaugePorcentaje{
        width:20%;
        height:22%;
        margin-left:15%;
        font-size: 1.9vw;
    }

    .Contenedormain{
        display:flex !important;
        margin:0;
        width:100%;
        height:100vh;
    }

    .ContenedorNav{
        margin:0;
        width:30% !important;
    }

    .fotoPerfil{
        margin-top:2%;
        margin-left:32%;
        width: 110px !important;
        height: 110px !important;
    }

    .NomCorreoTitle {

        text-align:center;
        margin:0;
    }

    .planTitle{

        text-align:center;
        margin:0;
        color:blue;
    }
 
    .btn{
        border-radius:20px;
        cursor:pointer;
       border:none;
       display: flex;
       margin-bottom: 5%;
       margin-top: 60%;
       margin-left: 10%;
       
   }
   
   .btn:hover{
       padding: 5px;
       box-shadow: 0px 0px 5px  0px gray inset;
       
   }


   .ContenedorUser{
        
        position:relative  !important;
        top:0%;
        right:22%;
        border-Radius:50px;
        width:70px !important;
        background: rgba(70, 70, 122, 0.05);
        height:68vh;  
        box-Shadow:5px 8px 2px GRAY;
        margin:0;
   }

   .ContenedorBotonesUser{
        position:relative;
        top:8%;
        right:15px;
   }

   .titleNoti{
    margin-bottom:0;
   }


   /*  Apartado User_Home*/

    .TitleUserHome{
        margin-top: 5% !important;
        background:rgba(119, 102, 198, 0.3);
        width:100%;
        border-Radius:50px;
        margin:0;
    }


    .TituloMain{
        
        text-Align:center;
        font-Size:4vw;
    }

    .subTituloMain{
        text-Align:center;
        font-Size:2vw;
    }

    .imgHomeUser{
        position:absolute;
        right:30px;
        top:2px;
        min-Height:25%;
    }

    .subtema{
        box-Shadow:0px 3px 1px rgba(31, 25, 47, 0.5);
        font-Size:2vw;
    }

    .subtema2{
        font-Size:2vw;
    }

    .ContenedorProgreso{
        margin-bottom: 3% !important;
        height:22%;
        width:40% !important;
        background:rgba(70, 70, 122, 0.15);
        border-Radius:25px;
        display:flex !important;
    }

    .imgBandera{

        position:relative !important;
        width: 35%;
        height: 80%;
        left:10%;
        top:10%;
    }

    .subtema3{
        font-Size:2vw;
        box-Shadow:0px -3px 1px rgba(31, 25, 47, 0.5);
    }

    /* NavBAr UserDesplegada */
    .navDesple{
        position:relative !important;
        top:0%;
        border-Radius:50px;
        width:86% !important;
        background: rgba(70, 70, 122, 0.05);
        height:75vh; 
        box-Shadow:5px 8px 2px GRAY;
        margin:0;

    }

    .navDespleSgund{
        position:relative !important;
        top:8%;
    }

    .ConBotones{
        padding:0 !important;
    }

    
   .btnDesplegable{
   
    border-radius:20px;
    cursor:pointer;
   border:none;
   display: flex !important;
   margin-bottom: 5% !important;
   margin-top: 10%;
   margin-left: 10%;
   /* font-size: 1.5vw; */
    }

    .btnDesplegable h2{
       
        margin-bottom: 0;
    } 


    .imgIconoNavBarUserDesple{
        width:3vw !important;
    }
    .IconoNavBarUserDespleEstilo{
        width:4vw !important;
    }

    .imgIconoNavBarUser{

        width:3vw !important;

    }
   
   
    

}    






