/*Pestaña Home  Movile */


@media screen and (max-width:600px) {
    
    

    .NavBarHome{
        position: sticky;
        top:0;
        z-index: 1000;
        background: #F9FAFD;
        height: 10vh;
        box-shadow: 0px 6px 2px GRAY;
        width: 100%;
    }
    .NavBarOpciones{
        
        display:flex !important;
        flex-direction: column;
        position: absolute ;
        width: 20%;
        left: 0;
        
        align-items: center;
        background: grey;
    }

    .NavBarOpcioness{
        
        display:none  !important;
        visibility: hidden;
        flex-direction: column;
        position: relative ;
        top: 2%;
        align-items: center;
        background: grey;
    }

    .btnCrearCuenta{
       display: none !important;
    }

    .btnOpcion{

        display: block !important;
        color: black  !important;
        
    }

    .btnAbrir{
        position: absolute !important;
        bottom:18%;
        left: 78%;
    }

    .btnCerrar{
        display: block  !important;
        
        border: 3px black solid  !important;
        position: sticky !important;
        right: 0;
        top: 0;
       
       
    }

    /* Body Presentacion*/

    .PresentacionContenedor{
        background:white;
        display: block;
        margin-Top:5px;
        height: 85vh;
        
     }

     .PresentacionImage{
        position:absolute;
        width:90%;
       
     }

     .PresentacionTitulo{
        position:sticky; 
        text-align: center;
        left:8%;
        font-family:helvetica neue;
        font-Size:8vw;
        
     }

     .ContenedorGif{
        justify-Content:center;
     }

     .PresentacionGif{
        position:relative;
        left:3%;
        bottom:0%;
     }

    /*  body Home */
    .BodyContenedor{

        background: rgba(224, 223, 253, 0.5);
        display: flex !important;
        margin: 0;
        max-Width: 100%;
        
     }

     .bodyCardInfo{

        display: flex !important;

     }

     .contenedorRosa{
        margin-left: 5% !important;
        margin-top: 20px;
     }

     .cardRosa{
        background: #F9B0C3 !important;
        border-radius: 20px !important;
        height: 100%; 
     }

     .cardRosa h1{
        color: white;
        font-size: 2vw;
         text-align: center; 
     }


     .contenedorMorado{
        margin-left: 3% !important;
     }

     .cardMorado{
        background: #7766C6 !important;
        margin-top: 20px;
        margin-Bottom: 20px;
        border-radius: 20px !important;
     }

     .cardMorado h1{
        color: white;
        font-size: 2.5vw; 
     }

     .cardAmarillo{
        background: #FFC212 !important;
        border-radius: 20px !important; 
     }

     .cardAmarillo h1{
        color: white; 
        text-align: right;
        margin: 20px;
        font-size: 2vw; 
     }

     .cardNegro{
        background: #1F192F !important;
        min-width: 200px;
        width: 90%; 
        margin-left: 5%; 
        margin-top: 20px; 
        margin-bottom: 20px;
        border-radius: 20px !important;
     }

     .cardNegro h1{
        font-size: 3vw;
        color: white;
        margin-left:40px;
        margin-top: 30px; 
     }
     





     .ImgRazones{
        position: relative !important;
        left: 10px;
        margin-Top: 120px; 
     }

     /* Nuestros Idiomas */

     .TituloNuestrosIdiomas{

        text-align:center;
     }

     .contenedorIngles{
        display:flex !important;
        margin:0;
        max-width:100%; 
        box-shadow:5px 5px 5px black;
     }

     .contenedorIngles h1{
        text-align:center;
     }

     .contenedorIngles p{
        font-size:1rem;
        text-align:justify;
        
     }

     .contImagenIngles{
        width:60% !important;
     }

     .ContenedorFrances{
        display:flex !important;
        margin:0;
        max-width:100%;
     }

     .ContenedorimgFran{
        width:60%  !important;
     }

     .ContFrancesInfo{
        background:white;
     }

     .ContFrancesInfo h1{
        text-align:center;
     }

     .ContFrancesInfo p{
        text-align:justify;
     }

     /* Ofrecemos */

     .TituloOfrecemos{
        text-align:center;
     }

     .ConteOfrecemos{
        background:rgba(249, 176, 195, 0.44);
        display:flex !important;
        justify-content:space-evenly;
        border-radius:20px !important;
     }

     .EjercicioNivel h1{

        font-size:2vw;
        margin-left:7%;
        margin-right:4% !important;
     }

     .Adaptacion h1{
        font-size:2vw;
     }

     .TestNivel h1{

        font-size:2vw;
     }

     /* Nuestros Planes */

     .TituloNuestrosPlanes{
        text-align:center;
     }

     .ConteNuestrosP{
        display:flex !important;
        margin:0;
        color: black !important;
     }

     .cardGratuido{
        border: 4px solid #7766C6;
        width:70%;
        height:80% !important;
        margin-top:8%;
        margin-left:10%;
        margin-bottom:10%;
        margin-right:10%;
        border-radius:20px !important;
     }

     .cardGratuido h1{
        text-align:center;
     }

     .cardGratuido ul{
        margin-left:10%;
     }

     .btnGratuito{
        width:80%;
        background:#46467A !important;
        bottom:5px !important;
        color:white !important;
        border-radius:12px !important;
        left:35px;
     }

     .cardPlus{
        border: 8px solid #7766C6;
        width:70%;
        height:80%;
        margin-top:8%;
        margin-left:10%;
        margin-bottom:10%;
        margin-right:10%;
        border-radius:20px !important;
     }

     .cardPlus h1{

        text-align:center;

     }

     .cardPlus ul{
        margin-left:10%;
     }

     .btnPlus{
        width:80%;
        height:20%;
        left:15%;
        background:#46467A !important;
        bottom:5px;
        color:white !important;
        border-radius:20px !important;
     }



}

@media screen and (min-width:601px) and (max-width:1023px){

    
    .NavBarHome{
        position: sticky;
        top:0;
        z-index: 1000;
        background: #F9FAFD;
        height: 10vh;
        box-shadow: 0px 6px 2px GRAY;
        width: 100%;
    }

    .NavBarOpciones{
        
        display:flex !important ;
        justify-Content:right ;
        position: relative ;
        bottom: 50px  ;
    }

    .NavBarOpcioness{
        
        display:flex !important ;
        justify-Content:right ;
        position: relative ;
        bottom: 50px  ;
    }


    .btnOpcion{

        bottom:5px;
        color:black !important;
    }

    /* .btnHamburguesa{
        display: none !important;
    } */

    .btnCrearCuenta{
        color: white !important;
        background: rgba(58, 49, 96, 1) !important;
        height:25px;
        border-radius: 20px;
    }

    .btnCrearCuenta{
        display: flex !important;
     }
 
     .btnOpcion{
 
         display: block !important;
         color: black  !important;
         
     }
 
     .btnAbrir{
         display: none;
         position: relative;
         bottom: 29%;
         left: 65%;
     }
 
     .btnCerrar{

         display: none  !important;
         
         border: 3px black solid  !important;
         position: sticky !important;
         right: 0;
         top: 0;
        
        
     }


    /* Presentacion Home*/

    .PresentacionContenedor{
        background:white;
        display:flex;
        margin-Top:5px;
     }

     .PresentacionImage{
        position:absolute;
        width: 50%;
     }

     .PresentacionTitulo{
        position:absolute;
        left:8%;
        font-family:helvetica neue;
        font-Size:5vw;
     }

     .ContenedorGif{
        justify-Content:center;
     }

     .PresentacionGif{
        position:relative;
        left:14%;
        bottom:0%;
     }

     /*  body Home */

     .BodyContenedor{

        background: rgba(224, 223, 253, 0.5);
        display: flex !important;
        margin: 0;
        max-Width: 100%;
        
     }

     .bodyCardInfo{

        display: flex !important;

     }

     .contenedorRosa{
        margin-left: 5% !important;
        margin-top: 20px;
     }

     .cardRosa{
        background: #F9B0C3 !important;
        border-radius: 20px !important;
        height: 100%; 
     }

     .cardRosa h1{
        color: white;
        font-size: 2vw;
         text-align: center; 
     }


     .contenedorMorado{
        margin-left: 3% !important;
     }

     .cardMorado{
        background: #7766C6 !important;
        margin-top: 20px;
        margin-Bottom: 20px;
        border-radius: 20px !important;
     }

     .cardMorado h1{
        color: white;
        font-size: 2.5vw; 
     }

     .cardAmarillo{
        background: #FFC212 !important;
        border-radius: 20px !important; 
     }

     .cardAmarillo h1{
        color: white; 
        text-align: right;
        margin: 20px;
        font-size: 2vw; 
     }

     .cardNegro{
        background: #1F192F !important;
        min-width: 200px;
        width: 90%; 
        margin-left: 5%; 
        margin-top: 20px; 
        margin-bottom: 20px;
        border-radius: 20px !important;
     }

     .cardNegro h1{
        font-size: 3vw;
        color: white;
        margin-left:40px;
        margin-top: 30px; 
     }
     





     .ImgRazones{
        position: relative !important;
        left: 10px;
        margin-Top: 120px; 
     }

     /* Nuestros Idiomas */

     .TituloNuestrosIdiomas{

        text-align:center;
     }

     .contenedorIngles{
        display:flex !important;
        margin:0;
        max-width:100%; 
        box-shadow:5px 5px 5px black;
     }

     .contenedorIngles h1{
        text-align:center;
     }

     .contenedorIngles p{
        font-size:1rem;
        text-align:justify;
        
     }

     .contImagenIngles{
        width:60% !important;
     }

     .ContenedorFrances{
        display:flex !important;
        margin:0;
        max-width:100%;
     }

     .ContenedorimgFran{
        width:60%  !important;
     }

     .ContFrancesInfo{
        background:white;
     }

     .ContFrancesInfo h1{
        text-align:center;
     }

     .ContFrancesInfo p{
        text-align:justify;
     }

     /* Ofrecemos */

     .TituloOfrecemos{
        text-align:center;
     }

     .ConteOfrecemos{
        background:rgba(249, 176, 195, 0.44);
        display:flex !important;
        justify-content:space-evenly;
        border-radius:20px !important;
     }

     .EjercicioNivel h1{

        font-size:2vw;
        margin-left:7%;
        margin-right:4% !important;
     }

     .Adaptacion h1{
        font-size:2vw;
     }

     .TestNivel h1{

        font-size:2vw;
     }

     /* Nuestros Planes */

     .TituloNuestrosPlanes{
        text-align:center;
     }

     .ConteNuestrosP{
        display:flex !important;
        margin:0;
        color: black !important;
     }

     .cardGratuido{
        border: 4px solid #7766C6;
        width:70%;
        height:80% !important;
        margin-top:8%;
        margin-left:10%;
        margin-bottom:10%;
        margin-right:10%;
        border-radius:20px !important;
     }

     .cardGratuido h1{
        text-align:center;
     }

     .cardGratuido ul{
        margin-left:10%;
     }

     .btnGratuito{
        width:80%;
        background:#46467A !important;
        bottom:5px !important;
        color:white !important;
        border-radius:12px !important;
        left:35px;
     }

     .cardPlus{
        border: 8px solid #7766C6;
        width:70%;
        height:80%;
        margin-top:8%;
        margin-left:10%;
        margin-bottom:10%;
        margin-right:10%;
        border-radius:20px !important;
     }

     .cardPlus h1{

        text-align:center;

     }

     .cardPlus ul{
        margin-left:10%;
     }

     .btnPlus{
        width:80%;
        height:20%;
        left:15%;
        background:#46467A !important;
        bottom:5px;
        color:white !important;
        border-radius:20px !important;
     }

}

@media  (min-width:1024px){
 

    .NavBarHome{
        position: sticky;
        top:0;
        z-index: 1000;
        background: #F9FAFD;
        height: 10vh;
        box-shadow: 0px 6px 2px GRAY;
        width: 100%;
    }

    .NavBarOpciones{
        
        display:flex !important ;
        
        flex-direction: row;
        justify-Content:right ;
        position: relative ;
        bottom: 50px  ;
    }

    .NavBarOpcioness{
        
        display:flex !important ;
        justify-Content:right ;
        position: relative ;
        bottom: 50px  ;
    }

    .btnOpcion{

        bottom:5px;
        color:black !important;
    }

    /* .btnHamburguesa{
        display: none !important;
    } */

    .btnCrearCuenta{
        color: white !important;
        background: rgba(58, 49, 96, 1) !important;
        height:25px;
    }


    .btnOpcion{
 
        display: block !important;
        color: black  !important;
        
    }

    .btnAbrir{
        display: none !important; 
        position: relative !important;
        bottom: 29%;
        left: 65%;
    }

    .btnCerrar{

        display: none  !important;
        
        border: 3px black solid  !important;
        position: sticky !important;
        right: 0;
        top: 0;
       
       
    }

     /* Body Presentacion*/
    .PresentacionContenedor{
        background:white;
        display:flex;
        margin-Top:5px;
     }

     .PresentacionImage{
        position:absolute;
        width: 50%;
     }

     .PresentacionTitulo{
        position:absolute;
        left:8%;
        font-family:helvetica neue;
        font-Size:5vw;
     }

     .ContenedorGif{
        justify-Content:center;
     }

     .PresentacionGif{
        position:relative;
        left:14%;
        bottom:0%;
     }

     /*  body Home */

     .BodyContenedor{

        background: rgba(224, 223, 253, 0.5);
        display: flex !important;
        margin: 0;
        max-Width: 100%;
        
     }

     .bodyCardInfo{

        display: flex !important;

     }

     .contenedorRosa{
        margin-left: 5% !important;
        margin-top: 20px;
     }

     .cardRosa{
        background: #F9B0C3 !important;
        border-radius: 20px !important;
        height: 100%; 
     }

     .cardRosa h1{
        color: white;
        font-size: 2vw;
         text-align: center; 
     }


     .contenedorMorado{
        margin-left: 3% !important;
     }

     .cardMorado{
        background: #7766C6 !important;
        margin-top: 20px;
        margin-Bottom: 20px;
        border-radius: 20px !important;
     }

     .cardMorado h1{
        color: white;
        font-size: 2.5vw; 
     }

     .cardAmarillo{
        background: #FFC212 !important;
        border-radius: 20px !important; 
     }

     .cardAmarillo h1{
        color: white; 
        text-align: right;
        margin: 20px;
        font-size: 2vw; 
     }

     .cardNegro{
        background: #1F192F !important;
        min-width: 200px;
        width: 90%; 
        margin-left: 5%; 
        margin-top: 20px; 
        margin-bottom: 20px;
        border-radius: 20px !important;
     }

     .cardNegro h1{
        font-size: 3vw;
        color: white;
        margin-left:40px;
        margin-top: 30px; 
     }
     





     .ImgRazones{
        position: relative !important;
        left: 10px;
        margin-Top: 120px; 
     }

     /* Nuestros Idiomas */

     .TituloNuestrosIdiomas{

        text-align:center;
     }

     .contenedorIngles{
        display:flex !important;
        margin:0;
        max-width:100%; 
        box-shadow:5px 5px 5px black;
     }

     .contenedorIngles h1{
        text-align:center;
     }

     .contenedorIngles p{
        font-size:1rem;
        text-align:justify;
        
     }

     .contImagenIngles{
        width:60% !important;
     }

     .ContenedorFrances{
        display:flex !important;
        margin:0;
        max-width:100%;
     }

     .ContenedorimgFran{
        width:60%  !important;
     }

     .ContFrancesInfo{
        background:white;
     }

     .ContFrancesInfo h1{
        text-align:center;
     }

     .ContFrancesInfo p{
        text-align:justify;
     }

     /* Ofrecemos */

     .TituloOfrecemos{
        text-align:center;
     }

     .ConteOfrecemos{
        background:rgba(249, 176, 195, 0.44);
        display:flex !important;
        justify-content:space-evenly;
        border-radius:20px !important;
     }

     .EjercicioNivel h1{

        font-size:2vw;
        margin-left:7%;
        margin-right:4% !important;
     }

     .Adaptacion h1{
        font-size:2vw;
     }

     .TestNivel h1{

        font-size:2vw;
     }

     /* Nuestros Planes */

     .TituloNuestrosPlanes{
        text-align:center;
     }

     .ConteNuestrosP{
        display:flex !important;
        margin:0;
        color: black !important;
     }

     .cardGratuido{
        border: 4px solid #7766C6;
        width:70%;
        height:80% !important;
        margin-top:8%;
        margin-left:10%;
        margin-bottom:10%;
        margin-right:10%;
        border-radius:20px !important;
     }

     .cardGratuido h1{
        text-align:center;
     }

     .cardGratuido ul{
        margin-left:10%;
     }

     .btnGratuito{
        width:80%;
        background:#46467A !important;
        bottom:5px !important;
        color:white !important;
        border-radius:12px !important;
        left:35px;
     }

     .cardPlus{
        border: 8px solid #7766C6;
        width:70%;
        height:80%;
        margin-top:8%;
        margin-left:10%;
        margin-bottom:10%;
        margin-right:10%;
        border-radius:20px !important;
     }

     .cardPlus h1{

        text-align:center;

     }

     .cardPlus ul{
        margin-left:10%;
     }

     .btnPlus{
        width:80%;
        height:20%;
        left:15%;
        background:#46467A !important;
        bottom:5px;
        color:white !important;
        border-radius:20px !important;
     }



}
