


@media screen and (max-width: 600px){

}


@media screen and (min-width:601px) and (max-width:1023px){


}

@media screen and (min-width:1024px){

    .ContenedorMain{

        margin-top: 5% !important;
        background:rgba(119, 102, 198, 0.3);
        width:100%;
        border-Radius:50px;
    }

    .TituloNoti{
        color:black;
        left:20%;
        font-Size:4vw;
    }

    .SubTNoti{
        color:black;
        text-Align:center;
        font-Size:2vw;
    }

    .btonFiltrar{
        margin-top: 3% !important;
        margin-bottom: 3% !important;
        color: black !important;
        border-radius: 45px !important;
        width:  25%;
        background:greenyellow !important;
    }

    .ContenedorNoti{
        background: rgba(255, 199, 39, 0.7);
        position: relative !important;
    }

}
