/* Estilo de la barra de navegación */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
  }

/* Estilo general de la página de recuperación de contraseña */
.forgot-password-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f6f9;
    padding-bottom: 13rem;
}

/* Contenedor principal */
.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D2C2E8;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-top: 5rem; /* Espacio adicional si lo necesitas */
}

.confirmation-message {
    margin-top: 15px;
    color: #7766c6; /* Cambia a rojo si es un error */
    font-size: 0.9rem;
    font-family: Century Gothic;
    font-weight: bold;
    text-align: center;
  }
  

/* Tarjeta de inicio de sesión */
.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-icon {
    width: 85px;  /* Controla el tamaño del contenedor del icono */
    height: 85px; /* Debe ser cuadrado para que el borde redondeado funcione */
    border-radius: 50%;  /* Hace que sea un círculo */
    background: url('/src/images/recoveryimg.png');
    background-size: cover;  /* Asegura que la imagen cubra el área sin distorsiones */
    background-position: center;  /* Centra la imagen dentro del círculo */
    background-color: #ffc212; /* Color de fondo si la imagen no llena todo */
    margin-bottom: 10px;
    margin-top: -50px;
    border: 5px solid #ffdd78;  /* Añade un borde blanco alrededor si es necesario */
}


/* Estilo del título */
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

/* Formulario */
.forgot-password-form {
    width: 100%;
    max-width: 400px;

}

/* Input de correo */
.forgot-password-form .MuiOutlinedInput-root {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(27, 27, 27, 0.1) !important;

}

.forgot-password-form .MuiOutlinedInput-root .MuiInputAdornment-root {
    color: #888;
}

.forgot-password-form .MuiFormHelperText-root {
    color: red;
    font-size: 12px;
}

/* Botón de enviar */
.forgot-password-form button {
    width: 100% !important; /* Mantiene el ancho del 60% */
    background-color: #ffc212;
    border-radius: 25px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;  /* Centrará el botón horizontalmente */
}

.forgot-password-form button:hover {
    background-color: #e0a800;
}

